<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ envelope.title }}</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!-- our styles: -->
  <link href="{{ envelope.assets.css_drc_url }}" rel="stylesheet" type='text/css'>
</head>
<body>

{{{ drc/common/header.hbs }}}
{{{ envelope.body }}}
{{{ drc/common/footer.hbs }}}

<script src="{{ envelope.assets.js_drc_url }}"></script>

</body>
</html>
