<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{{ envelope.title }}}</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin" rel="stylesheet" type="text/css">
  <!-- our styles: -->
  <link href="{{ assets.build_css_main_css }}" rel="stylesheet" type='text/css'>
  [+ drc/common/vwo.hbs +]
  <script type="text/javascript" src="https://www.rackspace.com/data/client"></script>
</head>
<body>

[+ drc/common/header.hbs +]
<div class="container-fluid narrow-sidebar">
    <div class="row">
        <div class="col-md-12 title-header">
            <h1 class="headline">{{ envelope.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 sidebar">
            {{{ globals.toc }}}
        </div>
        <div class="col-md-9 main">
            <div class="body">
                {{{ envelope.body }}}
            </div>
            <div class="serial-links clearfix">
                <div class="previous">
                    {{#if envelope.previous}}
                    <a href="{{ envelope.previous.url }}">{{{ envelope.previous.title }}}</a>
                    {{/if}}
                </div>
                <div class="next">
                    {{#if envelope.next}}
                    <a href="{{ envelope.next.url }}">{{{ envelope.next.title }}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
[+ drc/common/footer.hbs +]

<script src="{{ assets.build_js_main_js }}"></script>
[+ drc/common/ga.hbs +]
[+ drc/common/tealium.hbs +]
[+ drc/common/survey.hbs +]
[+ drc/common/remarketing.hbs +]
</body>
</html>
