[@ drc/blog-page.hbs @]

<h1 class="title">{{{ envelope.title }}}</h1>
{{! TODO: date formatting helper; '| date: "%b %-d %Y"' }}
<div class="byline">By {{ envelope.author }} - Posted on {{ envelope.publish_date }}</div>

{{#each envelope.categories}}
  {{#if @first}}<div class="categories">{{/if}}
    <a class="category" href="/blog/categories/{{ this }}">{{ this }}</a>
  {{#if @last}}</div>{{else}},{{/if}}
{{/each}}

<p>{{{ envelope.body }}}</p>

<!-- Author's bio -->
{{#if envelope.bio }}
  <section>
    <div class="panel panel-default">
      <div class="panel-heading">About the author(s)</div>
      <div class="panel-body">
        {{{ envelope.bio }}}
      </div>
    </div>
  </section>
{{/if}}

<!-- disqus comments -->
<section>
  <h1>Comments</h1>
  <div id="disqus_thread" aria-live="polite">[+ drc/common/disqus.hbs +]</div>
</section>

{{#if has_next_or_previous }}
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
  <div class="row">
  {{#if envelope.previous }}
    <div class="col-md-6">
      <div class="related-pretitle">Previous Article</div>
      <span class="related-title"><a href="{{ envelope.previous.url }}">{{{ envelope.previous.title }}}</a></span>
    </div>
  {{/if}}
  {{#if envelope.next }}
    <div class="col-md-6">
      <div class="related-pretitle">Next Article</div>
      <span class="related-title"><a href="{{ envelope.next.url }}">{{{ envelope.next.title }}}</a></span>
    </div>
  {{/if}}
  </div>
{{/if}}
